<!DOCTYPE html>
<html>
<head>
    <title>Post an Image test</title>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<style>
    /* mirror the image */
    video, canvas {
    transform: scale(-1, 1); /*For Firefox (& IE) */
    -webkit-transform: scale(-1, 1); /*for Chrome & Opera (& Safari) */
}
</style>
<body>
    <div id="explanation">
      <h1>What does your face say about your wellbeing?</h1>
      <p>Your facial cues, your eyes and yor skin say a lot about how you are feeling, the nutriens you put into your Body and if you're getting enough sleep or not. We look in the mirror at least a dozen times a day, but sometimes we can overlook these cues, because we are so used to seeing our own face.</p>
      <p>We have built this website specifically to analyze your facial cues without the bias that it is our own face and pure algorithm rationality.</p>
      <p>press the button below to take a picture of your face. The results will automatically be analyzed.</p>
    </div>
    <div>
        <video id="myVideo" autoplay></video>
    </div>
    <div id="results">
      <h2>Results of your Analysis</h2>
        {% if isTired %}
      <p id="opt1">You look a little tired! Here are some tips on how to take better care of yourself</p>
        {% else %}
      <p id="opt2">You look energetic and healthy.</p>
        {% endif %}
    </div>


<script>

    let v = document.getElementById("myVideo");

    //create a canvas to grab an image for upload
    let imageCanvas = document.createElement('canvas');
    let imageCtx = imageCanvas.getContext("2d");

    //Add file blob to a form and post
    function postFile(file) {
        let formdata = new FormData();
        formdata.append("image", file);
        let xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:5000/images', true);
        xhr.onload = function () {
            if (this.status === 200)
                console.log(this.response);
            else
                console.error(xhr);
        };
        xhr.send(formdata);
    }

    //Get the image from the canvas
    function sendImagefromCanvas() {

        //Make sure the canvas is set to the current video size
        imageCanvas.width = v.videoWidth;
        imageCanvas.height = v.videoHeight;

        imageCtx.drawImage(v, 0, 0, v.videoWidth, v.videoHeight);

        //Convert the canvas to blob and post the file
        imageCanvas.toBlob(postFile, 'image/jpeg');
    }

    //Take a picture on click
    v.onclick = function() {
        console.log('click');
        sendImagefromCanvas();
    };

    window.onload = function () {

        //Get camera video
        navigator.mediaDevices.getUserMedia({video: {width: 1280, height: 720}, audio: false})
            .then(stream => {
                v.srcObject = stream;
            })
            .catch(err => {
                console.log('navigator.getUserMedia error: ', err)
            });

    };

</script>
</body>
</html>
